[Desktop Entry]
Name=Username Password Generator
StartupWMClass=UP Generator
Comment=Username Password Generator Utility
Exec=/usr/bin/up_generator
Type=Application
Categories=Utility;
